//---------------------------------------------------------------------------
//
// Name:        buttonApp.rc
// Author:      Piotr
// Created:     3/16/2019 11:25:22 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
