//---------------------------------------------------------------------------
//
// Name:        rtShowApp.rc
// Author:      Piotr Lenarczyk
// Created:     21.03.2019 07:35:22
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
